.top-row {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  background: aqua;
  text-align: center;
}

.middle-row {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-row {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  background: aqua;
}

li {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
