.top-row {
  margin-bottom: 10px;
  padding: 20px;
  background: white;
  text-align: center;
}

.middle-row {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom-row {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
}

li {
  padding: 5px;
  margin: 5px;
}

h2 {
  background: #faebd7;
}
.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  text-align: left;
  width: 250px;
  margin: auto;
  padding: 10px;
}
