<li>
	{{burger_name}}

	{{#if devoured}}
	<button class="btn-primary change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR!
	</button>
	{{/if}}
	<button class="btn-danger delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
